.textos1
{
    font-weight: bold !important;
    color: #6e533e!important;
}

.text-decorator-none
{
    text-decoration: none;
}

.img
{
    background-image: url(https://www.colunatech.com.br/wp-content/uploads/2022/07/reft.jpg);
    background-repeat: no-repeat;
    width: 80vh;
    min-height: 80vh;
    background-size:cover;
    background-position:center;
}

#usuario
{
    background-color: #ac8975;

}

#senha
{
    background-color: #ac8975;
    
}

