.textos1
{
    font-weight: bold !important;
    color: #6e533e!important;
}

.text-decorator-none
{
    text-decoration: none;
}

.img
{
    background-image: url(https://i.imgur.com/sJGBdWd.jpeg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size:cover;
    background-position:center;
}

#usuario
{
    background-color: #ac8975;

}

#senha
{
    background-color: #ac8975;
    
}

