.titulo
{
    color:#05006D;
    text-align:center;
    font-family: Candara, sans-serif;
}

.img
{
    width:500px;
    height:500px;
    display: block;
    margin: 0 auto;
}

.loginPage
{
    width: 100vw;
    min-height: calc(100vh-64px);
}