.box1
{
    background-color:#ac8975;
    height: 120px;
}

.box2
{
    background-color: #8a638b;
    height: 60px;
}

.redes
{
    font-size: 60px;
    color: #ebb5de;
}

.textos
{
    color: #ebb5de;
}