
  *{
    font-family: 'Candara', sans-serif !important;
    font-size: 17px;
    color: #615a67;
  }

  .cursor
  {
    cursor: pointer;
    color:#ffbd59!important;
    font-weight: bold !important;
  }

  .text-decorator-none
{
    text-decoration: none;
}

.barra
{
  background-color: #a13e3e !important;
  font-family: 'candara, sans-serif' !important;
}

/* 
*****fontes 
font-family: 'VT323', monospace !important;
'Candara', 'Vampire Wars'
*****paleta de cores interessantes
#f9e1e0
#ccb6b5
#615a67
#8a638b
#ebb5de
#df8cf3
#582951
#a13e3e
#ac8975
#855741
#6e533e
#f5ae90
#f9c2aa
#f0946e
#ea7442
#ffbd59
*/