.img2
{
    background-image: url(https://i.imgur.com/wmBDoU0.gif);
    background-repeat: no-repeat;
    width: 70vh;
    min-height: 70vh;
    background-size:cover;
    background-position:center;
}

.textos2
{
    font-weight: bold !important;
}

.btnCancelar
{
    margin-right: 20px !important;
}

/* criar uma classe pra cor de fundo */
#nome
{
    background-color: #ac8975;
}

#foto
{
    background-color: #ac8975;
}

#confirmarSenha
{
    background-color: #ac8975;
}